html{
    height:100%;
}
body{
    height:100%;
    font-family:"avenir next";
    background: linear-gradient(117deg, rgba(0,96,180,1) 0%, rgba(0,177,255,1) 69%);
    background-attachment: fixed;
}
.header-contents{
    height:80px;
    width:1200px;
    margin-right:auto;
    margin-left:auto;
}
.header-logo{
    display:inline-block;
    padding-top:30px;
    margin-top:5px;
    margin-left:3%;

}
.header-logo a{/*ロゴ*/
    color:white;
    font-size:28px;
}
.header-search{
    display:inline-block;
    background-color:antiquewhite;
    height:50px;
}
.header-search input{
    display:inline-block;
    outline:none;
    border:none;
    background-color:rgba(0,0,0,0.15);
    color:white;
    font-size:16px;
    padding:10px 16px 10px 10px;
    border-radius:5px;
    margin-top:22px;
    width:400px;
    position:absolute;
    transform: translate(-55%);
    left:50%;
    
}
.frm input::placeholder{
    color:rgb(219, 219, 219);
}
.mysearch{
    font-size:1.5em;
    color:#ffffffda;
}
.btn{
    top:-13px;
    left:830px;
    color:white;
    background-color:rgba(0,0,0,0);
    outline:none;
    border:none;
    display:inline-block;
    position:absolute;
    margin-left:160px;
    margin-top:50px;
    transform: translate(-55%);
    left:50%;
    
}
.header-list{
    display:inline-block;
    float:right;
    padding-top:36px;
    font-size:16px;
}
.header-ul li{
    float:left;
    margin-right:19px;
    
}
.topleftbar a{
    color:white;
}
/********ヘッダー終了********/
.menu{
    width:800px;
    margin-right:auto;
    margin-left:auto;
    margin-top:50px;

}
.menu li{
    color:white;
    padding-top:10px;
    padding-bottom: 10px;
    display:inline-block;
    width:180px;
    margin-left:60px;
    text-align:center;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.menu a{
    color:white;
}
/*********コンテンツ***********/
.contents{
    margin-top:50px;
    width:800px;
    margin-right:auto;
    margin-left:auto;
}
.middle-box{
    vertical-align: top;
    display:inline-block;
    width:300px;
    margin-top:70px;
    margin-right:auto;
    margin-left:auto;
}
.middle-box p{
    cursor: pointer;
    color:white;
    border-radius:7px;
    background-color: rgba(0,0,0,0.3);
    width:100px;

    font-weight:800;
    font-size:18px;
    text-align: center;
    vertical-align: middle;
    padding-top:15px;
    padding-bottom:15px;
    margin-top:20px;
    margin-left:auto;
    margin-right:auto;
}
.middle-box p:hover{
    background-color: rgba(255,255,255,0.5);
}
.sendwho{
    width:150px;
    display:block;
    margin-right:auto!important;
    margin-left:auto!important;
    text-align: center;
}
#teacher-select{
    margin-top:190px;
}
#leftbox-parent,#rightbox-parent{
    display:inline-block;
    vertical-align: top;
}
.box{
    overflow-y: scroll;
    font-size:14px;
    color:rgb(106, 106, 106);
    margin-top:10px;
    margin-bottom:10px;
    border:solid 1px #87B5E6;
    width:230px;
    height:600px;
    background-color:rgb(255, 255, 255);
}
.checker-btn{
    color:white;
}
#rightbox{
    float:right;
}

.mode:hover{
    border-bottom:solid 2px #87d5e6;
}
#selected{
    border-bottom:solid 3px #f6f879;
    background-color:rgba(255, 255, 255, 0.111);
}
.btnsubmit{
    display:block;
    width:300px;
    margin-right:auto;
    margin-left:auto;
}
