html{
    height:100%;
}
body{
    height:100%;
    background: linear-gradient(117deg, rgba(0,96,180,1) 0%, rgba(0,177,255,1) 69%);
    background-attachment: fixed;
    font-family:"avenir next";
}
/***header**/
.header-contents{
    height:80px;
    width:1200px;
    margin-right:auto;
    margin-left:auto;
}
.header-logo{
    display:inline-block;
    padding-top:30px;
    margin-top:5px;
    margin-left:3%;

}
.header-logo a{/*ロゴ*/
    color:white;
    font-size:28px;
}
.header-search{
    display:inline-block;
    background-color:antiquewhite;
    height:50px;
}
.header-search input{
    display:inline-block;
    outline:none;
    border:none;
    background-color:rgba(0,0,0,0.15);
    color:white;
    font-size:16px;
    padding:10px 16px 10px 10px;
    border-radius:5px;
    margin-top:22px;
    width:400px;
    position:absolute;
    transform: translate(-55%);
    left:50%;
    
}
.header-search ul{
    background-color: red;
}
.frm input::placeholder{
    color:rgb(219, 219, 219);
}
.mysearch{
    font-size:1.5em;
    color:#ffffffda;
}
.btn{
    top:-13px;
    left:830px;
    color:white;
    background-color:rgba(0,0,0,0);
    outline:none;
    border:none;
    display:inline-block;
    position:absolute;
    margin-left:160px;
    margin-top:50px;
    transform: translate(-55%);
    left:50%;
    
}
.header-list{
    display:inline-block;
    float:right;
    padding-top:36px;
    font-size:16px;
}
.header-ul li{
    float:left;
    margin-right:19px;
    
}
.topleftbar a{
    color:white;
}
.footer{
    margin-top:100px;
}
/*****************/
/***********モーダル*****************/
#uploadbutton{
    cursor:pointer;
    color:white;
}

.upload-modal-wapper{
    display:none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.356);
}
.frmmain{
    margin-top:30px;
}
.frmupload{
    border-radius: 10px;
    background-color: rgb(39, 43, 49);
    color:rgb(224, 224, 224);
    width:550px;
    height:630px;
    margin-right:auto;
    margin-left:auto;
    margin-top:140px;
}
.frmupload input,.frmupload textarea,.frmupload select{
    border:none;
    outline:none;
    width:100%;
    padding-right:0;
    color:rgb(202, 202, 202);
    background-color:rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding:10px 7px;
}
.frmupload input:focus,.frmupload textarea:focus,.frmupload select:focus{
}
.company-tab{
    margin-top:20px;
}
.reporttype,.examdate,.impress{
    margin-top:20px;
}
.impress textarea{
    resize: none;
    height:250px;
}
.frmupload li{
    margin-top:2px;
}
.frmupload ul{
    width:400px;
    margin-right:auto;
    margin-left:auto;
}
.size{
    margin-top:10px;
    margin-right:17px;
    font-size:2em;
    float:right;
    cursor:pointer;
}
#sendbtn{
    background-color:rgb(0,96,180);
    cursor:pointer;
    width:410px;
}
#sendbtn:hover{
    background-color:rgb(0,177,255);

}
option{
    background-color:white;
    color:black;
}
/************body*************/
.contents{
    width:1200px;
    margin-right:auto;
    margin-left:auto;
}
.upper-box{
    width:800px;
    margin-right:auto;
    margin-left:auto;
}
.info{
    display:inline-block;
    margin-top:100px;
    box-shadow: 4px 4px 10px #0000005c;
    border: 1px solid;
    border-color: #00000002;
    border-radius: 7px;
    color: #ffffff;
    font-size: 16px;
    width:300px;
    background-color: rgba(0,0,0,0.15);
}
.info-lbl{
    padding:10px 10px;
    text-align: center;
}
.upper-right-box{
    width:300px;
    margin-left:50px;
    display:inline-block;
}
.change-pass{
    padding:10px;
}
.logout-button{
    padding:10px;
    margin-right:auto;
    margin-left:auto;
    margin-top:50px;
    box-shadow: 4px 4px 10px #0000005c;
    border: 1px solid;
    border-color: #00000002;
    border-radius: 7px;
    color: #ffffff;
    font-size: 16px;
    width:200px;
    background-color: rgba(0,0,0,0.15);
}
#newpass{
    display:inline-block;
    display:none;
}
.change-pass-submit{
    display:inline-block;
}
.change-pass{
    margin-right:auto;
    margin-left:auto;
    box-shadow: 4px 4px 10px #0000005c;
    border: 1px solid;
    border-color: #00000002;
    border-radius: 7px;
    color: #ffffff;
    font-size: 16px;
    width:200px;
    background-color: rgba(0,0,0,0.15);
}
.report-box{

}
.report{
    padding:30px;
    margin-right:auto;
    margin-left:auto;
    margin-top:50px;
    box-shadow: 4px 4px 10px #0000005c;
    border: 1px solid;
    border-color: #00000002;
    border-radius: 7px;
    color: #ffffff;
    font-size: 16px;
    width:800px;
    background-color: rgba(0,0,0,0.15);
}
